PROJECT_NAME="GTM Pack Generator"
DEBUG=True
ENVIRONMENT=development

POSTGRES_USER=emiva-user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=emiva-db
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1

LLM_PROVIDER=openai
LLM_API_KEY=
LLM_BASE_URL=
MODEL_NAME=gpt-4o
TEMPERATURE=0.7

VECTOR_STORE_URL=
VECTOR_STORE_API_KEY=
